.main{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.main input, input:focus {
  outline: none;
  border: none;
  width: 32vw;
}

.container {
  padding: 5px;
  align-items: center;
  display: flex;
  gap: 5px;
  margin-top: 20px;
  border-radius: 20px;
  width: 40vw;
  height: 30px;
  border: 1px solid #E3E3E3;
  margin-bottom: 20px;
}
.container:hover {
  box-shadow: 0 2px 2px 2px #7B7B7B;
}
.img{
  cursor: pointer;
}
.button{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}
.button button{
  height: 40px;
  width: 150px;
  border-radius: 6px;
  color: #7B7B7B;
  background-color: #f1f1f1;
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.button button:hover{
  cursor: pointer;
  border: 1px solid #7B7B7B;
}
.segurity{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 78px;
}
.segurity a {
  text-decoration: none;
}
.segurity a:hover {
  text-decoration: underline;
}